.icon-bar {
    width: 100%;
    background-color: white;
    overflow: auto;
    position: fixed;
    top: 89.4%;
    z-index: 1000;
}

.icon-bar a {
    float: right;
    width: 25%;
    text-align: center;
    padding: 20px 0;
    transition: all 0.3s ease;
    color: #f2889f;
    font-size: 25px;
}

.icon-bar i {
    margin-top: 8px;
}

.icon-bar a:hover {
    background-color: #f2889f;
    color: white;
    font-size: 27px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 110px;
    height: 110px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f2889f;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}

@-webkit-keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0px;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#loading {
    display: none;
    text-align: center;
}

#cards-row {
    margin: 3%;
}

::-moz-selection {
    color: white;
    background: #f2889f;
}

::selection {
    color: white;
    background: #f2889f;
}

#logo {
    margin: 0;
    width: 100%;
    height: 1%;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f2889f;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f2889f;
    text-decoration: none;
    font-size: xx-large;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* for search */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
.search__container {
    padding-top: 64px;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #f2889f;
}

.search__input {
    width: 75%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 0;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-top: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-top: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.credits__container {
    margin-top: 24px;
}

.credits__text {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
}

.credits__link {
    color: #f2889f;
    text-decoration: none;
    transition: color 250ms ease-in;
}

.credits__link:hover,
.credits__link:focus {
    color: rgb(191, 137, 135);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #f2889f;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        border-top-right-radius: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}